@model PaymentDTO

<div id="parallax-world-of-ugg">

    <div class="title">
        <h1>CART</h1>
    </div>


    <div class="row mt-1 mb-2">

        <p> qiymet</p>
        <p> @Model.Price</p>
        <p> say</p>
        <p> @Model.Count</p>
    </div>
    </div>
