@{
    Layout = null;
}

@{

    ViewBag.Show = "block";
    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        ViewBag.Class = "alert-danger";
        ViewBag.Message = ViewBag.Error;
    }
    else if (!string.IsNullOrEmpty(ViewBag.Success))
    {
        ViewBag.Class = "alert-success";
        ViewBag.Message = ViewBag.Success;
    }
    else
    {
        ViewBag.Show = "none";
    }
}

<div class="alert @ViewBag.Class .alert-dismissible fade show" style="display : @ViewBag.Show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>@ViewBag.Message</strong>
</div>
